.cli-window {
  height: 100%;
  overflow: hidden;
  padding-bottom: 3rem;
  background-color: #222222;
  line-height: 1.5;

  div[name="react-console-emulator"] {
    height: 100%;
    background-color: transparent !important;
  }
  
}
