.cards{
    overflow: scroll;
    height: 100%;
    padding: 1rem;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 10rem;

    .card{
        flex-grow: 1;
        flex-basis: 20rem;
        max-width: 20rem;
        padding-inline: 1rem;
        padding-block: 0.75rem;

        background-color: rgb(43, 43, 43);
        border-radius: 0.8rem;
        color: rgb(211, 211, 211);

        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        img{
            width: 100%;
            border-radius: 1rem;
        }

        h1{
            font-size: 1.1rem;
            font-weight: 500;
        }

        .description{
            font-size: 0.8rem;
            opacity: 0.7;
            word-spacing: 0.2rem;
            line-height: 1.3;
        }

        .tags{
            
            cursor: pointer;
            display: flex;
            flex-wrap: wrap;
            gap: 0.75rem;

            .tag{
                background-color: rgb(86, 93, 88);
                color: whitesmoke;
                width: fit-content;
                font-size: 0.8rem;
                padding-inline: 1.15rem;
                padding-block: 0.70rem;
                border-radius: 0.75rem;
            }
        }

        .urls{
            display: flex;
            gap: 1rem;
            padding-top: 0.5rem;
            padding-left: 0.3rem;
            // justify-content: ;

            a{
                font-size: 0.8rem;
                color: white;
            }
        }

    }
}