.note-window{
    padding: 1rem;
    height: 100%;
    overflow-y: auto;
    font-size: 15px;
    line-height: 1.2;
    padding-bottom: 10rem;

    pre{
        background-color: transparent !important;
    }
}