.window{
    height: 100%;
    border-radius: 0.85rem;
    overflow: hidden;
    background-color: rgb(23, 23, 23);
    color: rgb(198, 198, 198);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;

    .nav{
        
        padding-inline: 0.75rem;
        padding-block: 0.8rem;
        border-bottom: 1px solid rgba(245, 245, 245, 0.451);

        display: flex;
        gap: 1.5rem;
        align-items: center;


        .dots{
            display: flex;
            gap: 10px;

            .dot{
                height: 15px;
                width: 15px;
                border-radius: 50%;
    
                background-color: white;
            }

            .red{
                background-color: rgb(255, 62, 62);
                cursor: default;
            }

            .yellow{
                background-color: rgb(255, 184, 53);
            }

            .green{
                background-color: rgb(79, 224, 79);
            }
        }
    }

    .main-content{
        height: 100%;
    }

    *::-webkit-scrollbar{
        width: 8px;
    }

    *::-webkit-scrollbar-thumb{
        background-color: rgba(168, 168, 168, 0.4);
        border-radius: 4px;
    }
}