nav{
    width: 100%;
    color: white;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-inline: 0.75rem;
    padding-block: 0.32rem;
    background-color: rgba(115, 115, 115, 0.274);
    backdrop-filter: blur(3px);

    display: flex;
    justify-content: space-between;
    align-items: center;

    .left,
    .right{
        display: flex;
        gap: 1.2rem;
    }

    .left .apple-icon .apple{
        width: 1.25rem;
        height: 1.25rem;
    }

    .right .nav-icon .wifi{
        width: 1.25rem;
        height: 1.25rem;
    }
}